// Custom styles.
ul {
	list-style-type: bengali;
}

.posts-expand ul {
	list-style-type: bengali;
	margin-left: 20px;
}

.site-author-image {
	border-radius: 50%
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-ms-transition: 1s all;
	transition: 1s all;
}

.site-author-image:hover { 
	background-color: rgba(255, 255, 225, 0);
	-webkit-transform: rotate(360deg) scale(1.1);
	-moz-transform: rotate(360deg) scale(1.1);
	-ms-transform: rotate(360deg) scale(1.1);
	transform: rotate(360deg) scale(1.1);
}

ol{
	margin-left: 20px!important;
}

.posts-expand .fancybox img {
    display: inline-block;
}
.posts-expand table{
	font-family: Georgia;
}