// Custom styles.
ul {
  list-style-type: bengali;
}

.posts-expand ul {
  list-style-type: bengali;
  margin-left: 20px;
}

.site-author-image {
  border-radius: 50%
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all;
}

.site-author-image:hover {
  background-color: rgba(255, 255, 225, 0);
  -webkit-transform: rotate(360deg) scale(1.1);
  -moz-transform: rotate(360deg) scale(1.1);
  -ms-transform: rotate(360deg) scale(1.1);
  transform: rotate(360deg) scale(1.1);
}

ol{
  margin-left: 20px!important;
}

.posts-expand .fancybox img {
    display: inline-block;
}

.posts-expand table{
  font-family: Georgia;
}

.posts-expand .post-title, .posts-expand .post-meta {
    text-align: center;
}

.post-more-link {
    margin-top: 20px;
    text-align: center;
}

.post-more-link .btn {
    border: 1px solid;
    padding: 0 5px;
}

.sidebar-toggle {
  box-sizing: content-box;
}

// 代码块自定义样式``内的
code {
    color: #fc6423;
    padding: 0 3px !important;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

.highlight, pre {
    border: 1px solid #d6d6d6;
}

.header {
    background: url('https://oisha19l0.qnssl.com/header_background.jpg') no-repeat;
}

.header-inner {
    padding-top: 310px;
}

.wf .wf-body img {
    filter: none;
    opacity: 1;
}

.wf a{
    border: none;
}

@import "reward.styl";
